/ Jumbotron
.jumbotron
  .container
    %h1 WebPipe
    %p.lead
      WebPipe exports some console commands as Web API easily.
    %p
      %a.btn.btn-lg.btn-success{:href => "http://github.com/kaz080/webpipe", :target => "_blank", :role => "button"}
        View on GitHub

/ Form
.container
  %form.form-inline{:role => "form"}
    .checkbox
      %label
        %input{:type => "checkbox"} Use POST
    .form-group
      %label.sr-only Path
      %input#path.form-control{:type => "text", :placeholder => "Enter API path"}
    %button.btn.btn-primary{:type => "submit"} Request

/ Example row of colmuns
.container
  .row
    .col-lg-4
      %h2 Rack middleware
      %p.text-danger
        App, CLI and View are just for convenience.
      %p
        WebPipe will be a Gem as a middleware of Rack,
        a web framework of Ruby.
        This view is to test streaming command output.
        Stream is text, chunked and sometime ANSI colored.
        The view will receive it using XHR.onprogress()
        and render it.
      %p
        %a.disabled.btn.btn-primary{:href => "#", :role => "button"}
          View details &raquo;
    .col-lg-4
      %h2 Bootstrap
      %p This view utilizes bootstrap 3.2.0 from CDN.
      %p
        %a.disabled.btn.btn-primary{:href => "#", :role => "button"}
          View details &raquo;
    .col-lg-4
      %h2 AngularJS
      %p AngularJS and CoffeeScript will be used.
      %p
        %a.disabled.btn.btn-primary{:href => "#", :role => "button"}
          View details &raquo;
